h1 {
    margin: 50px 0px 20px 80px;
}

p {
    font-size: 25px;
    margin: 0px 0px 0px 80px;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100vw;
}

.column1 {
    background-color: rgb(93, 86, 158, 0); /* Just for visualization */
}
  
.column2 {
    background-color: rgb(95, 158, 95, 0); /* Just for visualization */
}